circle {
  stroke-width: 1;
  stroke: #555;
  opacity: 0.75;
}
circle.NorthernAmerica { fill: #f3797f; }
circle.SouthAmerica, circle.South-EasternAsia { fill: #80a1b6; }
circle.EasternEurope, circle.CentralAmerica { fill: #9fad9e; }
circle.EasternAsia, circle.SouthernAsia, circle.WesternAsia, circle.CentralAsia { fill: #9c8c9f; }
circle.WesternEurope, circle.NorthernEurope, circle.SouthernEurope { fill: #fab585; }
circle.NorthernAfrica, circle.SouthernAfrica, circle.MiddleAfrica, circle.WesternAfrica, circle.EasternAfrica { fill: #b28d69; }
circle.AustraliaandNewZealand, circle.Polynesia, circle.Caribbean, circle.Melanesia, circle.Micronesia { fill: #78C0A8; }
text {
  fill: #555;
  font-family: sans-serif;
  font-size: 9;
  pointer-events: none;
  text-anchor: middle;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-size: 8pt;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}